.parent {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: fit-content;
}

.header {
  display: flex;
  justify-content: start;
  width: 100%;
  -webkit-app-region: drag;
  font-size: 40px;
}

.icon-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  padding: 8px;
}

i {
  margin-left: 7px;
  margin-right: 7px;
  padding: 5px;
  border-radius: 6px;
  transition: background 0.25s linear;
}

i:hover {
  background: #bb332d;
}
